
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    background-color: #1EA4CE;
    padding: 0 7%;
}

.logo{
    width: 140px;
    height: 40px;
    background-image: url('../../assets/market.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 7%;
    min-width: 130px;
    height: 100%;
    background-color: #147594;
    align-self: flex-end;
}

.cart > span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;

    color: #FFFFFF;

    margin-left: 8px;
}