body {
  margin: 0;
  font-family: 'Open Sans', 'Inter', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  box-sizing: border-box;
  background-color: #E5E5E5;
}



#filterInput::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.15px;
  color: #A8A8A8;
}


